<!-- <div id="content">
    <section id="section">
        <div id="img" *ngFor="let chaqueta of chaquetas">
            <img [src]="{{chaqueta}}">
            
        </div>
    </section>
</div> -->
<div id="content">
    <section id="section-chaquetas">
        <div>
            <img [src]="chaquetasImg.chaqueta1" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 420,000</p>
                <p class="names">Levis Faux Suede & Shearling Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta2" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 366,200</p>
                <p class="names">Levis Corduroy Faux Shearling Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta3" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 145,300</p>
                <p class="names">Combo Denim Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta4" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ ‌124,800</p>
                <p class="names">Faux Shearling Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta5" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 166,100</p>
                <p class="names">Faux Leather Moto Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta6" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 83,300</p>
                <p class="names">Padded Canvas Button Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta7" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 186,900</p>
                <p class="names">Hooded Faux Fur & Nylon Pullover Jacket</p>
            </div>
        </div>
        <div>
            <img [src]="chaquetasImg.chaqueta8" alt="" class="chaquetas-img">
            <div id="box-price">
                <p class="prices">COP$ 108,200</p>
                <p class="names">Camo Bomber Jacket</p>
            </div>
        </div>
    </section>

</div>