<div id="footer">
    <div id="columnauno">
        <h3>Contáctanos</h3>
        <ul>
            <li>Teléfono: 555 55 55</li>
            <li>Dirección: Calle 39 #30 - 50</li>
            <li>Chat online</li>
            <li>Sede Bogotá</li>
        </ul>
    </div>
    <div id="columnados">
        <h3>Ayuda</h3>
        <ul>
            <li>Estado de órden</li>
            <li>Cambios y desembolsos Online</li>
            <li>FAQ</li>
            <li>Política de privacidad</li>
        </ul>
    </div>
    <div id="columnatres">
        <h3>Forever Rewarded</h3>
        <ul>
            <li>Aplicar ahora</li>
            <li>Beneficios</li>
            <li>Cliente preferencial</li>
            <li>Compra con millas</li>
            
        </ul>
    </div>
    <div id="columnacuatro">
        <h3>Trabaja con nosotros</h3>
        <ul>
            <li>Aplicar a un empleo</li>
            <li>Cazatalentos</li>
            <li>Proveedores</li>
            <li>Carrera</li>
        </ul>
    </div>
    <div id="anuncio">
        <p>© 2019 Forever21 Inc. Todos los derechos reservados</p>
    </div>
</div>